* {
  margin: 0;
  text-align: center;
}
ul {
  margin-top: 50px;
  text-align: center;
}
li {
  margin-top: 2px;
}
.app Button {
  margin-top: 20px;
  margin-left: 5px;
}
.app h6 {
  margin-top: 20px;
}
